<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %> | Twitty</title>
</head>
<body>
<h1>Twitty</h1>
<p>
Help page for twitty
</p>
</body>
<footer>Made by <a href="https://github.com/alvarorf">Álvaro Andrés</a></footer>
</html>
