<footer>
<small>Made by <a href="https://github.com/alvarorf">Álvaro Andrés</a></small>
<nav>
  <ul>
  <li><%= link_to "About", about_path %></li>
  <li><%= link_to "Contact", contact_path %></li>
  </ul>
</nav>
</footer>
